extends layouts/main

block inline_css

block inline_js
 
block content
	include modules/intro
	include modules/dignity
	include modules/services

block variables
	-	var	title	=	'Slikopleskarstvo HABAT - pleskarska dela, epoksi tlaki, hidroizolacije'
	-	var	description	=	''
	-	var	body_class = 'home'