section.dignity#dignity
  .container
    .row.justify-content-center
      .col-lg-4.col-md-6
        .dignity__item.dignity__item--n1
          .dignity__item-icon: span 42 let
          strong.dignity__item-text uspešnega obstoja družinskega podjetja
      .w-100.d-lg-none
      .col-lg-4.col-md-6
        .dignity__item.dignity__item--n2
          .dignity__item-icon: i.icon.icon-check
          strong.dignity__item-text Dosledno se držimo rokov in delovnega načrta
      .col-lg-4.col-md-6
        .dignity__item.dignity__item--n3
          .dignity__item-icon: i.icon.icon-check
          strong.dignity__item-text Delamo z obveznim upoštevanjem standardov