footer.g-footer#g-footer
  .container
    a.g-footer__logo.wow.animate__fadeInDown(href="/" data-wow-duration="1.5s")
      img.img.img-responsive(src="img/dest/habat--w.svg", alt="HABAT")
    .row
      .col-xl-9.col-lg-8
        .g-footer__nav.wow.animate__fadeInUp(data-wow-duration="1.5s")
          strong.g-footer__nav-title Storitve
          ul.g-footer__nav-list.menu
            li.menu-item: a(href="#") Beljenje stanovanja ali hiše
            li.menu-item: a(href="#") Pleskanje stanovanja ali hiše
            li.menu-item: a(href="#") Glajenje in kitanje sten
            li.menu-item: a(href="#") Barvanje fasad
            li.menu-item: a(href="#") Delo na večjih objektih
            li.menu-item: a(href="#") Pleskanje kovinskih ograj in nadstreškov
            li.menu-item: a(href="#") Hidroizolacije teras
            li.menu-item: a(href="#") Notranje hidroizolacije objektov

            li.menu-item: a(href="#") Sanacija vlažnih zidov kletnih prostorov
            li.menu-item: a(href="#") Postavitev pregradnih sten
            li.menu-item: a(href="#") Montaža spuščenih stropov
            li.menu-item: a(href="#") Montaža raztegljivih stropov
            li.menu-item: a(href="#") Oblaganje podstrešja
            li.menu-item: a(href="#") Delo z industrijskimi tlaki
            li.menu-item: a(href="#") Montaža pametnih sten piši-briši
      .col-xl-3.col-lg-4
        .g-footer__nav.wow.animate__fadeInUp(data-wow-duration="1.4s")
          strong.g-footer__nav-title Kontakt
          .g-footer__nav-contacts
            .g-footer__nav-text: p Habat d.o.o. Ulica pod gozdom 14 <br>1236 Trzin Slovenija
            .g-footer__contacts
              a.g-footer__contacts-phone(href="tel:041625519") 041 625 519
              a.g-footer__contacts-email(href="mailto:info@slikopleskarstvo-habat.si") info@slikopleskarstvo-habat.si
            a.g-footer__nav-facebook(href="#" target="_blank") <i class="icon icon-facebook"></i> Obiščite nas tudi na Facebooku
      .col-xl-4.col-lg-4.col-md-6.order-1.order-lg-0
        strong.g-footer__copyright.wow.animate__fadeInUp(data-wow-duration="1.5s") © Slikopleskarstvo Habat 1978-2020
      .col-xl-5.col-lg-4.col-md-6
        .g-footer__links.wow.animate__fadeInUp(data-wow-duration="1.5s")
          a.g-footer__links-item(href="#") Pogoji uporabe piškotkov
          a.g-footer__links-item(href="#") Pravilnik o varstvu osebnih podatkov
      .col-xl-3.col-lg-4.col-md-6
        a.g-footer__radian.radian.wow.animate__fadeInUp(href="https://radian.si/" target="_blank" data-wow-duration="1.5s")
          strong.radian__text Izdelava spletne <br>strani in podpora
          .radian__logo: img.img.img-responsive(src="img/dest/radian.svg", alt="RADIAN")