header.g-header#g-header
  .container
    .g-header__main
      a.g-header__logo(href="/") 
        img.img.g-header__logo-img.g-header__logo-img--main(src="img/dest/logo.svg", alt="HABAT")
        img.img.g-header__logo-img.g-header__logo-img--move(src="img/dest/habat.svg", alt="HABAT")
      .g-header__let
        .g-header__let-text: p Notranja in zunanja slikopleskarska dela že več kot
        strong.g-header__let-title 40 let
      button.g-header__toggle.btn(type="button"): span
      .g-header__mobile
        button.g-header__call-btn.btn.btn--default(type="button") Pošlji povpraševanje
        nav.g-header__nav
          ul.g-header__nav-list.menu
            li.menu-item: a(href="#"): span Storitve
            li.menu-item: a(href="#"): span Reference
            li.menu-item: a(href="#"): span Koristne informacije
            li.menu-item: a(href="#"): span O podjetju
            li.menu-item: a(href="#"): span Kontakt
        .g-header__contacts
          a.g-header__contacts-phone(href="tel:041625519") 041 625 519
          a.g-header__contacts-email(href="mailto:info@slikopleskarstvo-habat.si") info@slikopleskarstvo-habat.si
      .g-header__submenu.g-submenu.d-none.d-xl-block
        .g-submenu__content
          .row.no-gutters
            .col-lg-4
              .g-submenu__card
                .g-submenu__card-head
                  img.img(src="img/dest/types/1.svg", alt="Notranja slikopleskarska dela")
                  a.g-submenu__card-title(href="#") Notranja slikopleskarska dela
                .g-submenu__card-links
                  a.g-submenu__card-link(href="#") Beljenje stanovanja ali hiše
                  a.g-submenu__card-link(href="#") Pleskanje stanovanja ali hiše
                  a.g-submenu__card-link(href="#") Glajenje in kitanje sten
              //- 
              .g-submenu__card
                .g-submenu__card-head
                  img.img(src="img/dest/types/2.svg", alt="Zunanja slikopleskarska dela")
                  a.g-submenu__card-title(href="#") Zunanja slikopleskarska dela  
                .g-submenu__card-links
                  a.g-submenu__card-link(href="#") Barvanje fasad
                  a.g-submenu__card-link(href="#") Delo na večjih objektih
                  a.g-submenu__card-link(href="#") Pleskanje kovinskih ograj in nadstreškov
              //- 
              .g-submenu__card
                .g-submenu__card-head
                  img.img(src="img/dest/types/3.svg", alt="Izvedba hidroizolacije")
                  a.g-submenu__card-title(href="#") Izvedba hidroizolacije
                .g-submenu__card-links
                  a.g-submenu__card-link(href="#") Hidroizolacije teras
                  a.g-submenu__card-link(href="#") Notranje hidroizolacije objektov
                  a.g-submenu__card-link(href="#") Sanacija vlažnih zidov kletnih prostorov

            .col-lg-4
              .g-submenu__card
                .g-submenu__card-head
                  img.img(src="img/dest/types/4.svg", alt="Suhomontažna gradnja")
                  a.g-submenu__card-title(href="#") Suhomontažna gradnja
                .g-submenu__card-links
                  a.g-submenu__card-link(href="#") Postavitev pregradnih sten
                  a.g-submenu__card-link(href="#") Montaža spuščenih stropov
                  a.g-submenu__card-link(href="#") Montaža raztegljivih stropov
                  a.g-submenu__card-link(href="#") Oblaganje podstrešja
              //- 
              .g-submenu__card
                .g-submenu__card-head
                  img.img(src="img/dest/types/5.svg", alt="Delo s talnimi oblogami")
                  a.g-submenu__card-title(href="#") Delo s talnimi oblogami
                .g-submenu__card-links
                  a.g-submenu__card-link(href="#") Delo z industrijskimi tlaki
              //- 
              .g-submenu__card
                .g-submenu__card-head
                  img.img(src="img/dest/types/6.svg", alt="Pametne inštalacije")
                  a.g-submenu__card-title(href="#") Pametne inštalacije
                .g-submenu__card-links
                  a.g-submenu__card-link(href="#") Montaža pametnih sten piši-briši
            .col-lg-4
              .g-submenu__big_card
                .g-submenu__card-head
                  img.img(src="img/dest/types/7.svg", alt="Storitve za podjetja")
                  a.g-submenu__card-title(href="#") Storitve za podjetja
                .g-submenu__big_card-description
                  p.
                    Podjetje Habat d.o.o. je specializirano na področju slikopleskarstva v večjih proizvodnih obratih in poslovnih prostorih.
                  p.
                    S pomočjo sodobne tehnologije in najnovejših orodij izvajamo slikopleskarska dela na objektih, kjer je potrebna obdelava velikih površin – stenskih ali tlakov. Beljenje večjih prostorov izvajamo z visokotlačnimi črpalkami za brizganje barve na pištolo, s katero lahko prebelimo tudi do 2.000m2 površin dnevno.
                a.g-submenu__big_card-btn.btn.btn--default(href="#") Preberite več
