section.intro#intro
  .intro__slider.slick-slider
    .intro__slider-item.intro__slider-item--n1(style="background-image: url('img/dest/intro/1.png');")
      .container
        .intro__slider-content
          h4.intro__slider-subtitle Zanesljivo <br>slikopleskarstvo
          .intro__slider-title: img.img.img-responsive(src="img/dest/habat.svg", alt="HABAT")
          .intro__slider-text
            p.
              Družinsko podjetje z dolgoletno tradicijo <br>
              ter preverjenimi in izpopolnenimi <br>
              metodami dela
          a.intro__slider-btn.btn.btn--arrow(href="#") Oglejte si naše storitve <i class="icon icon-angle-right"></i>
    .intro__slider-item.intro__slider-item--n2(style="background-image: url('img/dest/intro/2.png');")
      .container
        .intro__slider-content
          h4.intro__slider-subtitle Potrebujete trajna <br>in visoko odporna tla?
          .intro__slider-text
            p.
              Industrijski tlaki so prava rešitev za vas. Uporabljamo najnovejše stroje <br>za pripravo in izvedbo. Za vsak projekt zagotavljamo tudi garancijo!
          a.intro__slider-btn.btn.btn--arrow(href="#") Izveste več o epoksi tlakih <i class="icon icon-angle-right"></i>
    .intro__slider-item.intro__slider-item--n3(style="background-image: url('img/dest/intro/3.png');")
      .container
        .intro__slider-content
          h4.intro__slider-subtitle Hidroizolacije teras in <br>balkonov ter notranja <br>sanacija vlažnih prostorov
          a.intro__slider-btn.btn.btn--arrow(href="#") Preberite več <i class="icon icon-angle-right"></i>
  .intro__slider_nav