section.services#services
  .container
    h2.services__title Notranja in zunanja slikopleskarska dela
    .services__description
      p.
        Slikopleskarstvo HABAT nudi širok spekter slikopleskarskih in fasaderskih del. Prepleskamo vam stanovanje ali poslovni prostor, veliko izkušenj pa imamo tudi pri večjih in zahtevnejših projektih. Smo resen in odgovoren partner, ki se drži dogovorjenega.